.navbar-wrapper
  .container
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .navbar-header
        = link_to t('.library'), root_path, class: 'navbar-brand'
      .navbar-collapse.collapse
        %ul.nav.navbar-nav
          %li= link_to t('.books'), books_path
          %li= link_to t('.people'), '#'
