<div class='row-fluid book-row'>
	<div class='span3'>
		<img src='{{image}}'/>
	</div>

	<div class='span8'>
		<div class='row-fluid book-name'>
			{{name}}
		</div>

		<div class='row-fluid book-authors'>
			{{author}}
		</div>

		<div class='row-fluid book-rating'>
			Рейтинг: {{rating}}
		</div>

		{{^holder}}
		<div class='row-fluid book-available'>
			Доступна (<a onclick='holdBook({{id}}, true);'>Взять почитать</a>)
		</div>
		{{/holder}}

		{{#holder}}
		<div class='row-fluid book-loan'>
			На руках
		</div>
		{{/holder}}

		<div class='row-fluid book-pages'>
			Страниц: {{pages}}
		</div>

		<div class='row-fluid book-description'>
			{{{description}}}
		</div>

		<div class="row-fluid book-tags">
			{{#tags}}
			<a href="/books#tag={{.}}" class="book-tag">{{.}}</a>
			{{/tags}}
		</div>
	</div>
</div>

{{#comments}}
<div class="row-fluid comment-block">
	<div class="row-fluid comment-header">
		{{user}}, {{date}}
	</div>
	<div class="row-fluid">
		{{{comment}}}
	</div>
</div>
{{/comments}}