- model_class = Comment
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:text)
  %tbody
    - @comments.each do |comment|
      %tr
        %td= comment.text
