/*
 *= require bootstrap_and_overrides
 *= require chosen
 *= require jquery.ui.core
 *= require jquery.ui.theme
 *= require_self
 *= require_tree .
 */

body.navbar-big {
  margin-top: 250px;
}

body {
  margin-top: 60px;
}

.main-container {
  max-width: 1100px;
  margin: 0 auto;

  padding: 20px;
  margin-bottom: 40px;
}

.bordered {
  border: 3px solid #47a3da;
}
