.user-profile {
  margin-bottom: 15px;
}

.user-books {
  h4 {
    font-size: 16px;
    font-weight: normal;
  }
  .even {
    background: #0095FF;
    color: #fff;
  }

  .odd {
    background: #FFC65C;
    color: #FF6A00;
  }
}
